@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{  
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    /*font-size: calc(60% + 0.8vmin);*/
    margin: 0;
    padding: 0;
}
@keyframes sweep {
	0% {
		opacity: 0;
		transform: translateY(-1em);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
body{
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.container
{
    background-color: white;
    margin-top: 1rem auto;
    top: -7rem;
    align-items: center;
    max-width: 23.5rem;
    width: 100vw;
    height: auto;
    position: relative;
    background-image: url(./faq-accordion-card-main/images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: contain fixed;
    background-position: top center;
    border-radius: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
    -webkit-box-shadow: 0px 24px 35px 0px rgba(65,29,124,0.45); 
    box-shadow: 0px 24px 35px 0px rgba(65,29,124,0.45);
}
.container>h1{
    color: hsl(238, 29%, 16%);
    padding-top: 8rem;
    text-align: center;
    font-size: 1.75rem;
}
.faq_contain{
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 1.25rem 0 0 0;
    padding-top: 0.313rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1.25rem;
    width: 100%;
}
.faq_text{    
   text-align: left;
   font-size: 0.75rem;
}
.Question{
   list-style: none; 
   display: block; 
   padding: 0;
   position: relative;
}
.Question:-webkit-details-marker {
    display: none;
  }
.Answer{
    font-size: 0.75rem;
    display: block;
    padding-top: .5rem;
    color: hsl(240, 6%, 50%);
}
.Question:hover,.Question:active{
    color: hsl(14, 88%, 65%);
    cursor: pointer; 
}
.faq_contain[open] > .Question{
    font-weight: 700;
}
.faq_contain[open] summary ~ *{
    animation: sweep 0.2s ease-out;
	will-change: opacity, transform;
}
.arrow{
    position: relative;
    float: right;
    padding-top: 0.5rem;
}
.faq_contain[open]>.Question > .arrow{
    transform: scaleY(-1);
    margin-top: .5rem;
    position: relative;
}
.boximg{
    display: none;
}
.mobileimg{
    position: relative;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    top: -1.5rem;
    left: -1rem;
    z-index: 1;
    object-fit: contain;
    display: block;
}

@media only screen and (min-width: 37.5rem) {
    *{
        box-sizing: border-box;
        font-size: calc(60% + 0.8vmin);
    }

    body{
        background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }
     
    .container{
        display: block;
        padding: 0;
        max-width: 57.5rem;
        height: auto;
        margin-top: 2rem;
        width: 100vw auto;
        background-image: url(./faq-accordion-card-main/images/illustration-woman-online-desktop.svg),url(./faq-accordion-card-main/images/bg-pattern-desktop.svg);
        background-position-x:-5.7rem, -35rem ;
        background-position-y:5rem, -17.5rem ;
        background-attachment:local , local;
        background-size:30rem 22.75rem ,60rem 58.063rem;
        background-repeat: no-repeat , no-repeat;
        -webkit-box-shadow: 5px 18px 28px 11px rgba(65,29,124,0.45); 
        box-shadow: 5px 18px 28px 11px rgba(65,29,124,0.45);
    
    }

    .container>h1{
        display: inline-block;
        width: auto;
        text-align:justify;
        margin-left: 30rem;
        position: relative;
        bottom:4.5rem;
    }
    .faq_contain{
        display:block;
        max-width: 22.438rem;
        margin-left: 30rem;
        position: relative;
        bottom: 4rem;
        width: auto;
    }
    .imgholder{
        max-width: 100%;
        height: auto;
    }
    .mobileimg{
        display: none;
    }
    
   .boximg{
        position:relative;
        top: 19.2rem ;
        left: -5.3rem;
        width: 10.8rem;
        display: block;
        z-index: 1;
        height: auto;
        
    }
/* Add styled focus states on tab not hover */

:focus-visible {
    outline: 3px dotted currentColor;
    outline-offset: 0.25rem;
  }
  
  :focus:not(:focus-visible) {
    outline: transparent;
  }
}